@font-face{
    font-family: "Feather";
    src: url(/assets/fonts/feather.ttf), url(/assets/fonts/fa-regular-400.woff2);
    font-weight: 400;
}

body {
    font-family: "Feather", sans-serif;
}

.nav-item img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.right.dropdown-toggle::after{
    visibility: hidden;
}

.jumbotron {
    background-color: rgba(117,80,254,255);
}

.btn-success  {
    background-color: rgba(26,203,152,255);
}

h1 {
    font-size: 3rem;
}

.text-white-50 {
    font-size: 1.5rem;
    font-weight: 300;
}

#underJumbo span img{
    color: rgba(194,129,53,255);
    background-color: rgba(255,238,218,255);
    border-style: solid 0.5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
}

#underJumbo h4,p{
    font-size: 13px;
}